
[Unit]
Description=ASF GitHub Actions Allowlist Updater

[Service]
Type=simple
WorkingDirectory=/opt/gha-allowlist-manager
ExecStart=/usr/local/bin/pipenv run python3 gha-allowlist-manager.py 
Restart=always

[Install]
WantedBy=multi-user.target
